[Desktop Entry]
Name=Coinbase CLI
Exec=xterm --geometry 250x60+800+300 -e coinbase
Icon=~/.local/share/icons/hicolor/scalable/apps/icon-buy-and-sell.svg
Terminal=false
Type=Application
Categories=X-Other
